{
	"build_systems": [
		{
			"file_regex": "^[ ]*File \"(...*?)\", line ([0-9]*)",
			"name": "Anaconda Python Builder",
			"selector": "source.python",
			"shell_cmd": "\"/home/spock/Projects/PyTestProj/.venv/bin/python\" -u \"$file\""
		}
	],
	"folders": [
		{
			"follow_symlinks": true,
			"path": "."
		}
	],
	"settings": {
		"LSP": {
			"mspyls": {
				"enabled": false,
				"initializationOptions": {
					"interpreter": {
						"properties": {
							"InterpreterPath": "${folder}/.venv/bin/python",
							"UseDefaultDatabase": true,
							"Version": "3.7"
						}
					}
				}
			},
			"pyls": {
				"command": [
					"$project_path/.venv/bin/pyls"
				],
				"enabled": false,
				"initializationOptions": {
					"interpreter": {
						"properties": {
							"InterpreterPath": "$project_path/.venv/bin/python",
							"UseDefaultDatabase": true,
							"Version": "3.7"
						}
					}
				}
			}
		},
		"SublimeLinter.linters.flake8.executable": "${folder}/.venv/bin/flake8",
		"SublimeLinter.linters.mypy.executable": "${folder}/.venv/bin/mypy",
		"python_interpreter": "${folder}/.venv/bin/python",
		"sublack.black_command": "${folder}/.venv/bin/black"
	}
}
